.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
}

.header__logo {
  color: #2c3282;
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
}

.header__gnb ul {
  display: flex;
}

.header__gnb > ul > li > a {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.header__gnb ul li:not(:first-child) {
  margin-left: 140px;
}
