@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NotoSansKR-DemiLight.woff") format("woff"),
    url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.woff") format("woff"),
    url("../fonts/NotoSansKR-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff") format("woff"),
    url("../fonts/NotoSansKR-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff") format("woff"),
    url("../fonts/NotoSansKR-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NotoSansKR-Black.woff") format("woff"),
    url("../fonts/NotoSansKR-Black.woff2") format("woff2");
}
