.result {
  padding: 70px 0 80px;
}

.result__list > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.result__list > ul > li {
  margin-bottom: 38px;
}

.result__txt {
  margin-top: 20px;
  position: relative;
}

.result__txt h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000;
}

.result__txt span {
  color: #808080;
}

.result__txt span.bar {
  margin: 0 5px;
}

.result__txt span.bar i {
  padding: 0 6px 0 24px;
  color: #44c4a0;
}

.result__txt span.bar::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #808080;
  position: absolute;
  top: 28px;
  left: 76px;
}

.btn-center {
  text-align: center;
}

.result__more {
  width: 154px;
  height: 56px;
  background-color: transparent;
  border: 1px solid #2c3282;
  cursor: pointer;
  font-size: 18px;
  color: #2c3282;
  letter-spacing: -0.1em;
  transition: all 0.2s ease-in-out;
}

.result__more::after {
  content: "+";
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
}

.result__more:hover {
  background-color: #2c3282;
  color: #ffffff;
}
