.slide__img {
  background-image: url(../image/slide.png);
  height: 630px;
  position: relative;
}

.slide__text {
  position: absolute;
  top: 210px;
  left: 422px;
}

.slide__text h2 {
  font-size: 44px;
  font-weight: 800;
  color: #ffffff;
}

.slide__text p {
  font-size: 28px;
  color: #ffffff;
  line-height: 36px;
  margin-top: 26px;
}

.slide__left-btn,
.slide__right-btn {
  position: absolute;
  top: 284px;
  cursor: pointer;
}

.slide__right-btn {
  right: 298px;
}

.slide__left-btn {
  left: 298px;
}

.slide__container {
  position: relative;
}

.slide__rolling {
  width: 135px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rolling-item a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
}

.rolling-item:nth-child(2) {
  margin: 0 16px;
}
