@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import "main/reset.css";

/* Main */
@import "main/slide.css";
@import "main/result.css";
@import "main/business.css";
@import "main/contact.css";

/* Components */
@import "components/header.css";
@import "components/footer.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.content__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

button:focus {
  outline: none;
}
