@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import "reset.css";
@import "header.css";
@import "slide.css";
@import "result.css";
@import "business.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.content__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

button:focus {
  outline: none;
}
