.contact {
  padding: 50px 0 100px;
}

.contact__container {
  display: flex;
}

.contact__info {
  width: 100%;
  background-image: url(../../image/main_contact.png);
  color: #ffffff;
}

.contact__inner-wrap {
  padding: 50px 0 0 50px;
}

.contact__info h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact__info p {
  font-size: 18px;
}

.contact__info ul {
  margin-top: 36px;
}

.contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.contact__info-item img {
  margin-right: 18px;
}
